

.sidbarContainer {
    padding: 0px 15px;
}

.sidebar_title {
    height: 8vh;
    /* background-color: green; */
    display: flex;
    font-weight: 600;
    align-items: center;
    color: #fff;
}


.new_document_btn {
    padding: 14px 11px;
    width: 100%;
    border: 0px solid transparent;
    border-radius: 5px;
    background-color: rgba(228,102,69,255);
    color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
}

.new_document_btn:hover {
    background-color: #f39765;
}

.file {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.file:hover > .file_info .file_name {
    color: rgba(228,102,69,255);
}

.file_date {
    color: #ADB5BD;
    margin-bottom: 2px;
    font-size: 15px;
}

.file_name {
    font-size: 17px;
    color: #fff;
}