
.editorContainer {
   height: 100%;
}

.editor_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 0px 20px;
    background-color: #212529; 
    /* position: fixed;
    width: 100%; */
}


.editor_title {
    letter-spacing: 2px;
    font-weight:400;
    color: #fff;
}


.text_container {
    display: flex;
    margin: 0 auto;
    height: 100%;
    padding-top: 20px;
}

.editor_text {
    background-color: #151619;
    color: #ced4da;
    height: 100%;
    border-right: 1px solid gray;
    white-space: pre-wrap;
    padding: 22px 23px;
    font-size: 14px;
    padding-top: 42px;
    font-family: Roboto Mono,monospace;
    outline: none;
    caret-color: #e46643;
    transition: height .9s cubic-bezier(.215,.61,.355,1);

}


@media screen and (min-width: 768px){
    .editor_header svg {
        display: none;
    }
}