
.editorContainer {
   height: 100%;
}

.editor_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    padding: 0px 20px;
    background-color: #151619; 
}



.editor_title {
    letter-spacing: 2px;
    font-weight:400;
    color: #fff;
}

.editor_text {
    background-color: #fff;
    height: 100%;
    border-right: 1px solid gray;
}


@media screen and (min-width: 768px){
    .editor_header svg {
        display: none;
    }
}