@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  background-color: #151619;
}

* {
  margin: 0;
  padding: 0;
}






