
.mainContainer {
    width: 100%;
    display: flex;
}


.sidebar {
    width: 250px;
    background-color: #212529;
    position: fixed;
    left: 0px;
    /* left: -250px; */
    transition: left .9s cubic-bezier(.215,.61,.355,1);
    height: 100%;
}

.sidebar_active {
    width: 250px;
    background-color: #212529;
    position: fixed;
    /* left: 0px; */
    left: -250px;
    transition: left .9s cubic-bezier(.215,.61,.355,1);
    height: 100%;
}

.main {
    transition: left .9s cubic-bezier(.215,.61,.355,1);
    width: 100%;
    position: fixed;
    /* left: 250px; */
    left: 0;
}

.nav_active {
    transition: left .9s cubic-bezier(.215,.61,.355,1);
    width: 100%;
    position: fixed;
    left: 250px;
}




/* MAIN CONTENT SEC */

.contentContainer {
    display: flex;
    /* height: 100vh; */
  
}

.content {
    width: 100%;
    /* background-color: #fff; */
    /* background-color: #151619; */
    transition: width .9s cubic-bezier(.215,.61,.355,1);
    overflow-y: scroll;
}


.output {
    width: 0%;
    background-color: #fff;
    transition: width .9s cubic-bezier(.215,.61,.355,1),border-width .9s cubic-bezier(.215,.61,.355,1);
    overflow-y: scroll;
}

/* HIDE CONTENT */
.output_only {
    width: 100%;
    background-color: #fff;
    transition: width .9s cubic-bezier(.215,.61,.355,1),border-width .9s cubic-bezier(.215,.61,.355,1);
}

.hide_content {
    width: 0%;
    transition: width .9s cubic-bezier(.215,.61,.355,1);
}


@media screen and (min-width: 768px) {
    .content {
        width: 50%;
    }
    .output {
        width: 50%;
    }
}